body {
    background-color: purple;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color:black;
}
.oblozhka {
    height: 900px;
    background-image: url(backgrond.jpeg);
    background-size: 90%;
}
.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.header_list {
    display: flex;
    align-items: center;
}
.header_list li {
    padding: 10px;
}
.footer {
    background-color: black;
    height: 100px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.footer_list {
    color: rgb(132, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.footer_list li {
    padding: 70px;
    color: aliceblue;
}